@media only screen and (max-width: 1438px) {
    .container {
        width: 1140px;
    }
    .header {
        &__body {
            height: 70px;
            li {
                margin: 0px 10px;
                a {
                    font-size: 18px;
                }
            }
            a {
                font-size: 12px;
            }
        }

        &__logo img {
            max-width: 80%;
        }
    }
    .nootris {
        &__activate {
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
            .nootris__subtitle {
                padding-top: 15px;
                font-size: 18px;
                line-height: 22px;
            }
            .ginger__img {
                left: 545px;
                top: 80px;
                max-width: 40%;
            }
            .nootris__img {
                top: -40px;
                left: 690px;
                max-width: 16%;
            }
            .lemon__img {
                top: 255px;
                left: 378px;
                max-width: 37%;
            }
        }
        h2 {
            padding-top: 100px;
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            color: #000000;
        }
        &__text {
            padding-top: 10px;
            font-size: 15px;
            line-height: 18px;
        }
    }
    .discount {
        padding: 90px 0px;
        .discount__body {
            h1 {
                font-size: 38px;
                line-height: 47px;
            }
            &-price {
                padding-top: 60px;
                .price {
                    font-size: 38px;
                }
            }
            &-offer {
                div {
                    padding-top: 55px;
                    .offer__text-big {
                        font-size: 26px;
                    }
                    img {
                        max-width: 70%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .header {
        &__body {
            height: 70px;
            li {
                margin: 0px 10px;
                a {
                    font-size: 15px;
                }
            }
            a {
                font-size: 12px;
            }
        }

        &__logo img {
            max-width: 80%;
        }
    }
    .nootris {
        &__activate {
            h1 {
                font-size: 90px;
                line-height: 90px;
            }
            .nootris__subtitle {
                padding-top: 15px;
                font-size: 18px;
                line-height: 22px;
            }
            .ginger__img {
                left: 545px;
                top: 80px;
                max-width: 45%;
            }
            .nootris__img {
                top: -40px;
                left: 690px;
                max-width: 18%;
            }
            .lemon__img {
                top: 230px;
                left: 348px;
                max-width: 47%;
            }
        }
        h2 {
            padding-top: 100px;
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            color: #000000;
        }
        &__text {
            padding-top: 10px;
            font-size: 15px;
            line-height: 18px;
        }
    }
    .discount {
        padding: 90px 0px;
        .discount__body {
            h1 {
                font-size: 38px;
                line-height: 47px;
            }
            &-price {
                padding-top: 60px;
                .price {
                    font-size: 38px;
                }
            }
            &-offer {
                div {
                    padding-top: 55px;
                    .offer__text-big {
                        font-size: 26px;
                    }
                    img {
                        max-width: 70%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .header {
        &__body {
            height: 60px;
            .phone__icon {
                display: block;
                max-width: 3%;
            }
            .phone__number {
                display: none;
            }

            li {
                margin: 0px 10px;
                a {
                    font-size: 12px;
                }
            }
            a {
                font-size: 12px;
            }
        }

        &__logo img {
            max-width: 70%;
        }
    }
    .nootris {
        padding: 54px 0px;
        &__activate {
            h1 {
                font-size: 70px;
                line-height: 80px;
            }
            .nootris__subtitle {
                padding-top: 10px;
                font-size: 16px;
                line-height: 22px;
            }
            .ginger__img {
                left: 370px;
                top: 80px;
                max-width: 44%;
            }
            .nootris__img {
                top: -25px;
                left: 490px;
            }
            .lemon__img {
                top: 185px;
                left: 260px;
            }
        }
        h2 {
            padding-top: 70px;
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            color: #000000;
        }
        &__text {
            padding-top: 10px;
            font-size: 13px;
            line-height: 18px;
        }
    }
    .discount {
        padding: 90px 0px;
        .discount__body {
            h1 {
                font-size: 38px;
                line-height: 47px;
            }
            &-price {
                padding-top: 60px;
                .price {
                    font-size: 38px;
                }
            }
            &-offer {
                div {
                    padding-top: 55px;
                    .offer__text-big {
                        font-size: 26px;
                    }
                    img {
                        max-width: 70%;
                    }
                }
            }
        }
        button {
            height: 45px;
            width: 210px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    body.lock {
        overflow: hidden;
    }

    .header {
        &__burger {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 15;
            right: -70px;
        }
        &__burger span {
            position: absolute;
            background-color: white;
            left: 0px;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &__burger:before,
        &__burger:after {
            content: "";
            background-color: white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0px;
            transition: all 0.3s ease 0s;
        }
        &__burger:before {
            top: 0px;
        }
        &__burger:after {
            bottom: 0px;
        }
        &__burger.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &__burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &__burger.active span {
            transform: scale(0);
        }
        &__menu {
            z-index: 15;
            position: fixed;
            top: -100%;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: auto;
            backdrop-filter: blur(5px);
            padding: 80px 10px 20px 10px;
            transition: all 0.4s ease 0s;
        }
        &__menu.active {
            left: 0px;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__body {
            height: 60px;
            .phone__icon {
                display: block;
                max-width: 5%;
                margin-left: auto;
            }
            .phone__number {
                display: none;
            }

            li {
                margin: 0px 10px;
                a {
                    font-size: 17px;
                    color: black;
                }
            }
            a {
                font-size: 12px;
            }
            .header__cart {
                margin-left: 20px;
            }
        }

        &__logo img {
            max-width: 70%;
            margin-right: auto;
        }
    }
    .nootris {
        padding: 54px 0px;
        &__activate {
            h1 {
                font-size: 70px;
                line-height: 80px;
            }
            .nootris__subtitle {
                padding-top: 10px;
                font-size: 16px;
                line-height: 22px;
            }
            .ginger__img {
                left: 370px;
                top: 80px;
                max-width: 44%;
            }
            .nootris__img {
                top: -25px;
                left: 490px;
            }
            .lemon__img {
                top: 185px;
                left: 260px;
            }
        }
        h2 {
            padding-top: 70px;
            font-weight: 700;
            font-size: 26px;
            line-height: 33px;
            color: #000000;
        }
        &__text {
            padding-top: 10px;
            font-size: 13px;
            line-height: 18px;
        }
    }
    .discount {
        padding: 90px 0px;
        .discount__body {
            h1 {
                font-size: 38px;
                line-height: 47px;
            }
            &-price {
                padding-top: 60px;
                .price {
                    font-size: 38px;
                }
            }
            &-offer {
                div {
                    padding-top: 55px;
                    .offer__text-big {
                        font-size: 26px;
                    }
                    img {
                        max-width: 70%;
                    }
                }
            }
        }
        button {
            height: 45px;
            width: 210px;
        }
    }
}
//
@media only screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
    body.lock {
        overflow: hidden;
    }

    .header {
        &__burger {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 15;
            right: 0px;
        }
        &__burger span {
            position: absolute;
            background-color: white;
            left: 0px;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &__burger:before,
        &__burger:after {
            content: "";
            background-color: white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0px;
            transition: all 0.3s ease 0s;
        }
        &__burger:before {
            top: 0px;
        }
        &__burger:after {
            bottom: 0px;
        }
        &__burger.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &__burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &__burger.active span {
            transform: scale(0);
        }
        &__menu {
            z-index: 15;
            position: fixed;
            top: -100%;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: auto;
            backdrop-filter: blur(5px);
            padding: 80px 10px 20px 10px;
            transition: all 0.4s ease 0s;
        }
        &__menu.active {
            left: 0px;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__body {
            height: 60px;
            .phone__icon {
                display: block;
                max-width: 5%;
                margin-left: auto;
            }
            .phone__number {
                display: none;
            }

            li {
                margin: 0px 10px;
                a {
                    font-size: 17px;
                    color: black;
                }
            }
            a {
                font-size: 12px;
            }
            .header__cart {
                margin-left: 20px;
            }
        }

        &__logo img {
            max-width: 70%;
            margin-right: auto;
        }
    }
    .nootris {
        padding: 54px 0px;
        &__activate {
            h1 {
                font-size: 50px;
                line-height: 50px;
            }
            .nootris__subtitle {
                font-size: 11px;
                line-height: 16px;
            }
            .ginger__img {
                left: 250px;
                top: 80px;
                max-width: 40%;
            }
            .nootris__img {
                top: -25px;
                left: 310px;
                max-width: 18%;
            }
            .lemon__img {
                top: 105px;
                left: 200px;
            }
        }
        h2 {
            z-index: 5;
            position: relative;
            font-size: 20px;
            line-height: 30px;
        }
        &__text {
            font-size: 10px;
            line-height: 15px;
        }
    }
    .discount {
        padding: 50px 0px;
        .discount__body {
            h1 {
                font-size: 22px;
                line-height: 40px;
            }
            &-price {
                padding-top: 20px;
                .price {
                    font-size: 35px;
                }
            }
            &-offer {
                div {
                    padding-top: 40px;
                    .offer__text-big {
                        font-size: 26px;
                    }
                    img {
                        max-width: 70%;
                    }
                }
            }
        }
        button {
            height: 45px;
            width: 210px;
        }
    }
}
